//Главный акцентный цвет (кнопки, ссылки, важные выделения).
//Основной брендовый цвет. Зачастую дублирует accent-color,
//иногда используется для заливки главных элементов.
.accent, .primary {
  color: #24303f;
}

//Цвет предупреждений, ошибок, непрочитанных важных уведомлений (пингов).
.warning {
  color: #de6560;
}

//Цвет фона крайней левой панели (панель пространств/spaces).
.sidebar {
  color: #131415;
}

.roomlist {
  //Цвет фона боковой панели со списком чатов.
  &-bg {
    color: #1a222c;
  }

  //Цвет основного текста в списке чатов (названия комнат).
  &-text {
    color: #FFFFFF;
  }

  //Цвет вторичного текста в списке чатов (превью последнего сообщения, время).
  &-secondary-text {
    color: #b4c2d3;
  }

  //Цвет фона чата в списке при наведении курсора или выделении.
  &-highlights {
    color: #24303f;
  }

  //Цвет линий-разделителей между закрепленными и обычными чатами в списке.
  &-separator {
    color: #24303f;
  }
}

.timeline {
  //Основной цвет фона истории сообщений (таймлайна).
  &-bg {
    color: #1a222c;
  }

  //Основной цвет текста сообщений.
  &-text {
    color: #FFFFFF;
  }

  //Вторичный цвет текста в истории (даты, время отправки сообщений, отредактированные метки).
  &-secondary-text {
    color: #b4c2d3;
  }

  //Цвет фона сообщения при его выделении, наведении курсора или переходе по ссылке на него.
  &-highlights {
    color: #486993;
  }
}

//Цвет второстепенного контента (некоторые иконки, дополнительная информация).
.secondary-content,
//Цвет третьестепенного контента (малозаметные элементы, плейсхолдеры).
.tertiary-content {
  color: #55a4f8;
}

//Цвет фона кнопки с реакцией (эмодзи), которую вы уже поставили.
.reaction-button-selected-bg {
  color: #293c51;
}

//Цвет выделенного пункта в контекстных или выпадающих меню.
.menu-selected {
  color: #353c44;
}

//Цвет фона элемента интерфейса, находящегося в фокусе (например, при навигации с клавиатуры).
.focus-bg {
  color: #486993;
}

//Цвет индикатора или заливки для чата с новыми упоминаниями/важными событиями.
.room-highlight {
  color: #55a4f8;
}

//Цвет фона «плашки» (pill) при упоминании другого пользователя в тексте.
.user-pill-bg {
  color: #486993;
}

//Цвет фона выключенного тумблера (переключателя) в настройках.
.togglesw-off {
  color: #24303f;
}